<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.machine.service.scm.property.dao.mapper.ScmPropertyValueMapper">

    <select id="listByPropertyId" resultType="com.machine.service.scm.property.dao.mapper.entity.ScmPropertyValueEntity">
        select * from t_scm_property_value where property_id = #{propertyId} order by sort desc
    </select>

    <select id="listByPropertyIdSet" resultType="com.machine.service.scm.property.dao.mapper.entity.ScmPropertyValueEntity">
        select * from t_scm_property_value where property_id in
        <foreach item="item" collection="propertyIdSet" open="(" separator="," close=")">
            #{item}
        </foreach>
        order by sort desc
    </select>

    <delete id="deleteByPropertyId">
        delete from t_scm_property_value where property_id = #{propertyId}
    </delete>

    <select id="countByPropertyIdAndValue" resultType="java.lang.Integer">
        select count(0) from t_scm_property_value where property_id = #{propertyId} and value = #{value}
    </select>

    <select id="countByPropertyIdAndValueExcludeId" resultType="java.lang.Integer">
        select count(0) from t_scm_property_value
        where property_id = #{propertyId} and value = #{value} and id != #{excludeId}
    </select>

</mapper>