<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.machine.service.iam.role.dao.mapper.IamRolePermissionRelationMapper">

    <select id="selectByPermissionCode" resultType="com.machine.service.iam.role.dao.mapper.entity.IamRolePermissionRelationEntity">
        SELECT rpr.* FROM t_iam_role_permission_relation rpr
                              LEFT JOIN t_iam_permission p ON p.id = rpr.permission_id
        WHERE p.`code` = #{permissionCode}
    </select>

</mapper>