<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.machine.service.iam.user.dao.mapper.IamUserRoleBusinessRelationMapper">

    <select id="listByCondition" resultType="com.machine.service.iam.user.dao.mapper.entity.IamUserRoleBusinessRelationEntity">
        SELECT urbr.* FROM t_iam_user_role_business_relation urbr
        <where>
            <if test="inputDto.businessType != null ">
                AND urbr.business_type = #{inputDto.businessType}
            </if>
            <if test="inputDto.userRoleRelationIdSet != null  and inputDto.userRoleRelationIdSet.size > 0">
                AND urbr.user_role_relation_id IN
                <foreach item="item" collection="inputDto.userRoleRelationIdSet" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="inputDto.businessIdSet != null  and inputDto.businessIdSet.size > 0">
                AND urbr.business_id IN
                <foreach item="item" collection="inputDto.businessIdSet" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>