<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.machine.service.iam.user.dao.mapper.IUserRoleTargetRelationMapper">

    <update id="updateTargetNull">
        UPDATE t_user_role_target_relation
        SET target_type = null,
            target_id   = ''
        WHERE id = #{id}
    </update>

    <select id="isAssociationRoleByOrganizationIdSet" resultType="java.lang.Boolean">
        SELECT EXISTS (
        SELECT 1 FROM t_user_role_target_relation
        WHERE target_id in
        <foreach item="item" collection="organizationIdSet" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND target_type = 'ORGANIZATION'
        )
    </select>

    <select id="listUserIdByOrganizationIdSet" resultType="java.lang.String">
        SELECT urtr.user_id FROM t_user_role_target_relation urtr
        WHERE urtr.target_id in
        <foreach item="item" collection="organizationIdSet" open="(" separator="," close=")">
            #{item}
        </foreach>
        AND target_type = 'ORGANIZATION'
        GROUP BY urtr.user_id
    </select>

    <select id="listByCondition" resultType="com.machine.service.iam.user.dao.mapper.entity.UserRoleTargetRelationEntity">
        SELECT urtr.* FROM t_user_role_target_relation urtr
        <where>
            <if test="inputDto.targetType != null ">
                AND urtr.target_type = #{inputDto.targetType}
            </if>
            <if test="inputDto.userIdSet != null  and inputDto.userIdSet.size > 0">
                AND urtr.user_id IN
                <foreach item="item" collection="inputDto.userIdSet" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="inputDto.roleIdSet != null  and inputDto.roleIdSet.size > 0">
                AND urtr.role_id IN
                <foreach item="item" collection="inputDto.roleIdSet" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="inputDto.targetIdSet != null  and inputDto.targetIdSet.size > 0">
                AND urtr.target_id IN
                <foreach item="item" collection="inputDto.targetIdSet" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

</mapper>