<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.machine.service.hrm.department.dao.mapper.IDepartmentMapper">

    <select id="listAll" resultType="com.machine.service.hrm.department.dao.mapper.entity.DepartmentEntity">
        SELECT d.*
        FROM t_hrm_department d
        WHERE d.status = 'ENABLE'
    </select>

</mapper>